
// Colors:
// $main-color: #6639b7;
$main-color: #ae63e4;
$grey-color: #bfbfbf;

// Screen Sizes: M1
$max-sm-screen: 767px;
$min-md-screen: 768px;
$min-lg-screen: 992px;
$min-xl-screen: 1200px;

// Screen Sizes: M2
$sm-screen: "screen and (max-width: 767px)";
$md-screen: "screen and (min-width: 768px)";
$lg-screen: "screen and (min-width: 992px)";
$xl-screen: "screen and (min-width: 1200px)";

